#title {
  background-color: #FFEEEE;
}
h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 5rem;
  line-height: 1.5;

}
.block{
  visibility: hidden;
}

.container-fluid{
  padding: 5% 15% !important;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/* navigation bar */
.navbar{
  padding-bottom: 4.5rem !important;
}
.navbar-brand{
  font-family:'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
/*
.navbar-nav {
  padding-left: 200px;
} */

ul {
  margin-left: 31.25rem;
}

.title-img {
  width: 60%;
  /* transform: rotate(20deg); */
  margin-left: 8.0625rem;
}

/* feaures section */
#features {
  padding: 5.125rem 9rem;
  background-color: white;


}
.feature-box{
  text-align: center;
}
h3{
font-family: 'Montserrat-Bold', sans-serif;
}
p{
  color: grey;
}
.icon{
  margin-bottom: 2rem;
  color: #95D1CC;
}

/* textmonial section */
#testimonials {
  /* padding: 3.125rem 9rem;这里弃用，是为了让表示前后的button不要被一起padding */
  text-align: center;
  background-color: #F7CCAC;
}

.carousel-item {
  padding: 3.125rem 9rem;
}
.testimonial-image {
  border-radius: 50%;
  width: 15%;
}
#press img{
  width: 15%;
  margin: 3% 3%;
}
#press {
  background-color: #F7CCAC;
  padding-bottom: 5%;
  text-align: center;

}
/* pricing section */
#pricing{
  text-align: center;
  padding: 80px;
}
.pricing-column {
  padding: 3% 5%;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  .title-img {
    margin-left: 0;

  }
}

/* call to action section */
#cta {
  background-color: #FFEEEE;
  text-align: center;
  padding-top: 6rem;

}
#cta h3{
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 1.5;
}
.b {
  margin: 3rem;
}

/* footer section */
#footer {
  padding: 7% 15%;
  text-align: center;
}
.brand {
  margin:5px;
}
